{% extends 'base.html' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/download.css') }}"/>
    <style type="text/css" rel="stylesheet">
        .content img {
            width: 30px;
            height: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content">
        <table cellspacing="0" id="files">
            <tr>
                <th></th>
                <th>文件名</th>
                <th>点击下载</th>
            </tr>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            /* For zebra striping */
            $("table tr:nth-child(odd)").addClass("odd-row");
            /* For cell text alignment */
            $("table td:first-child, table th:first-child").addClass("first");
            /* For removing the last border */
            $("table td:last-child, table th:last-child").addClass("last");
        });

    </script>

    <script>
        function get_file_list() {
            $.getJSON("{{ url_for('file_list') }}", function (result) {
                if (result.length != 0) {

                    $.each(result, function (i, file) {

                        $("#files").append("\
                            <tr> \
                                <td><img src=\"/icon/" + file.name + "\"></td> \
                                <td>" + file.name + "</td> \
                                <td><a href=\"" + file.uri + "\">下载</a></td> \
                            </tr>"
                        );
                    });
                }
                setTimeout(get_file_list, 100);
            });
        }

        $(document).ready(get_file_list);

    </script>

{% endblock %}
