<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.0.min.js') }}"></script>

    <style type="text/css">
        body {
            background: url({{url_for('static' ,filename= 'img/bg.jpg')}})
        }

        .login_box {
            width: 350px;
            height: 400px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            opacity: 0.5;
        }

    </style>

</head>
<body>

<div class="emptyBox">

</div>

<div class="login_box" style="background:#FFF">
    <br>
    <div style="text-align: center;">
        <div id="files"></div>
    </div>
</div>

<script>
    function get_file_list() {
        $.getJSON("{{ url_for('file_list') }}", function (result) {
            if (result.length != 0) {
                $.each(result, function (i, file) {
                    $("#files").append("<p><a href='" + file.url + "'>" + file.name + "</a></p>");
                });
            }
            setTimeout(get_file_list, 100);
        });
    }

    $(document).ready(get_file_list);

</script>
</body>
</html>