{% extends 'base.html' %}

{% block body %}
    <a href="https://github.com/YieldNull/Biu">
        <img style="position: absolute; top: 0; right: 0; border: 0;"
             src="{{ url_for('static',filename='img/github.png') }}"
             alt="Fork me on GitHub"
             data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a>
    <div class="login">
        <div class="login_box panel">
            <div>
                <img id="QrCodeImg" src="{{ url_for('gen_qrcode') }}"/>
            </div>

            <div class="intro">
                <p>请扫描二维码传输文件</p>
            </div>
        </div>
    </div>
{% endblock %}



{% block footer %}
    <p>
        <a href="http://www.cnsoftbei.com/bencandy.php?fid=130&aid=1379" target="_blank">第五届"中国软件杯"大学生软件设计大赛</a> --
        <a href="https://github.com/YieldNull/Biu/releases/download/0.1.1/biu.apk" target="_blank">参赛作品</a>
    </p>

    <p><a href="http://www.miitbeian.gov.cn/" target="_blank" style="text-decoration: none">鄂ICP备16003391号</a></p>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $.getScript("{{ url_for('login') }}");
        })
    </script>
{% endblock %}
